<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<h1><%= title %></h1>
		<!--<p>Belen Balmori</p> -->
		<img src="https://www.google.com/search?biw=681&bih=652&tbm=isch&sa=1&ei=nBP0WsjwEoLaUpeOlegG&q=google&oq=google&gs_l=img.3..0i67k1l2j0l3j0i67k1j0l4.11616.12160.0.12426.6.6.0.0.0.0.142.616.0j5.5.0....0...1c.1.64.img..1.5.614...35i39k1.0.zVa5r4PRXfU#imgrc=5dXVlPmEaAWgwM:">
	</body>
</html>