<!DOCTYPE html>
<html>
  <head>
    <title>P5_Quiz</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>P5_Quiz</h1>
    <p>Bienvenido a  <%= title %></p>
    <a href="/quizzes">quizzes</a>
    <a href="/credits">créditos</a>
  </body>
</html>