<!DOCTYPE html>
<html>
	<head>
		<title>Lista de los Quizzes</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<h1>Lista de los Quizzes</h1>
		<div>
			<ol>
				<% var quizzes = array %>
				<% var i = 0 %>
				<% for(i; i < quizzes.length; i++) { %>
				<li>
					Pregunta Numero <%=quizzes[i].id%>. <%=quizzes[i].question %> : <%= quizzes[i].anwser %>
				</li>
				<% } %>
			</ol>
		</div>
	</body>
</html>